<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<html>
	<form action="" method="post" class="forward">
		<input type="submit" value="&uarr;" class="forward">
	</form>

	<form action="" method="post" class="left">
			<input type="submit" value="&larr;" class="left">
	</form>

	<form action="" method="post" class="right">
			<input type="submit" value="&rarr;" class="right">
	</form>

	<form action="" method="post" class="backward">
			<input type="submit" value="&darr;" class="backward">
	</form>

</html>


